<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>业务流程处理</title>

    <!-- Core CSS - Include with every page -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Forms -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/publicChain.css" rel="stylesheet">
    <style>
        .table tbody tr td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">交易系统</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>

            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a id="publicChainBtn" href="/publicChain"><i class="fa fa-dashboard fa-fw"></i> 公有链</a>
                    </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="morris.html">Morris.js Charts</a>
                            </li>
                        </ul>
                        &lt;!&ndash; /.nav-second-level &ndash;&gt;
                    </li>-->
                    <li>
                        <a id="consortiumChainBtn" href="/consortiumChain"><i class="fa fa-table fa-fw"></i> 我的联盟链</a>
                    </li>
                    <!--<li>
                        <a id="bpRecordBtn" href="/bpRecord"><i class="fa fa-edit fa-fw"></i> 我的流程记录</a>
                    </li>-->

                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" id="bpIdNum"></h1>
                <button class="btn btn-success col-sm-offset-7 col-sm-2" type="button" onclick="completeBP()">完成协作流程
                </button>
                <button class="btn btn-warning col-sm-offset-1 col-sm-2" data-toggle="modal" data-target="#myModal">
                    通知其他参与者
                </button>
            </div>
        </div>
        <!-- /.row -->
        <div class="row" style="margin-top: 20px" id="contracts">
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">发起合作</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>请选择要合作的企业</label>
                            <select class="form-control" id="selectReceiver">

                            </select>
                        </div>

                        <div class="form-group">
                            <label>交易内容描述</label>
                            <input class="form-control" id="bpDescription">
                        </div>

                        <div class="form-group">
                            <label>JSON格式的Tx列表</label>
                            <textarea id="txsJson" class="form-control" rows="5"></textarea>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="coopWithOthers()">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Core Scripts - Include with every page -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/pc1.js"></script>

<!-- Page-Level Plugin Scripts - Forms -->

<!-- SB Admin Scripts - Include with every page -->
<script src="js/pc2.js"></script>

<!-- Page-Level Demo Scripts - Forms - Use for reference -->
<script>
    const paramsStr = window.location.search
    const params = new URLSearchParams(paramsStr)
    var identity = params.get('identity') // list
    var userId = params.get('userId')
    var bpId = params.get('bpId')
    document.getElementById("publicChainBtn").setAttribute("href", "/publicChain?identity=" + identity + "&userId=" + userId);
    document.getElementById("consortiumChainBtn").setAttribute("href", "/consortiumChain?identity=" + identity + "&userId=" + userId);
    //document.getElementById("bpRecordBtn").setAttribute("href", "/bpRecord?identity=" + identity + "&userId=" + userId);
    document.getElementById("bpIdNum").innerHTML = "业务流程：" + bpId

    $("#bpDescription").blur(function () {
        document.getElementById("txsJson").innerHTML = "[{senderId:" + userId + ",receiverId:" + $("#selectReceiver option:selected").attr('id') + ",tranDescription:'" + $("#bpDescription").val() + "'}]"
    });

    $.ajax({
        type: "GET",
        url: "/getAllUsers",
        data: {},
        success: function (respMsg) {
            var str = ""
            if (respMsg.code == 0) {
                var users = respMsg.data
                for (i in users) {
                    if (users[i].userid == userId)
                        continue
                    str += "<option id='" + users[i].userid + "'>"
                    str += users[i].username + " " + users[i].description
                    str += "</option>"
                }
                document.getElementById("selectReceiver").innerHTML = str
            } else {
                alert(respMsg.data)
            }
        }
    });

    $.ajax({
        type: "GET",
        url: "/getWaitingTxsByBPIdAndUserId",
        data: {bpId: bpId, userId: userId},
        success: function (respMsg) {
            if (respMsg.code == 0) {
                for (var x of respMsg.data) {
                    var txStr = "<p class='col-lg-11'>" + JSON.stringify(x) + "</p><button type='button' class='btn btn-primary col-lg-offset-11 col-lg-1' onclick=\"completeTx('" + x.transId + "')\">完成</button>\n"
                    var conType = "<div class=\"panel panel-primary\">\n"
                    var conshtml = "<div class=\"col-lg-12\">\n" +
                        conType +
                        "                    <div class=\"panel-heading\">\n" +
                        "                        contractId：" + x.transId + "\n" +
                        "                    </div>\n" +
                        "                    <div class=\"panel-body\">\n" +
                        "                        <p>发起人Id：" + x.senderId + "</p>\n" +
                        "                        <p>接收人Id：" + x.receiverId + "</p>\n" +
                        "                        <p>Tx实例：" + "</p>\n" +
                        txStr +
                        "                    </div>\n" +
                        "                </div>\n" +
                        "            </div>"
                    document.getElementById("contracts").innerHTML += conshtml
                }
            } else {
                alert(respMsg.data)
            }
        }
    })
    ;

    function completeTx(transId) {
        console.log(transId)
        $.ajax({
            type: "POST",
            url: "/processTxInCooperation",
            data: {userId: userId, transId: transId},
            dataType: "json",
            success: function (respMsg) {
                console.log(respMsg)
                if (respMsg.code == 0) {
                    location.reload();
                } else {
                    alert(respMsg.data)
                }
            }
        });
    }

    function completeBP() {
        $.ajax({
            type: "POST",
            url: "/completeCooperation",
            data: {userId: userId, bpId: bpId},
            dataType: "json",
            success: function (respMsg) {
                if (respMsg.code == 0) {
                    alert("流程分支确认结束！")
                    window.location.href = "/consortiumChain?" + "userId=" + userId + "&identity=" + identity
                } else {
                    alert(respMsg.data)
                }
            }
        });
    }

    function coopWithOthers() {
        var receiverId = $("#selectReceiver option:selected").attr('id')
        var txsJson = $("#txsJson").val()
        //var bpDescription = $("#bpDescription").val()
        var txDescription = $("#bpDescription").val()
        $.ajax({
            type: "POST",
            url: "/cooperate",
            data: {
                senderId: userId,
                receiverId: receiverId,
                bpDescription: txDescription,
                bpId: bpId,
                transactionList: txsJson
            },
            dataType: "json",
            success: function (respMsg) {
                if (respMsg.code == 0) {
                    alert(respMsg.data)
                    location.reload();
                } else {
                    alert(respMsg.data)
                }
            }
        });
    }


</script>

</body>

</html>
