<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Public Chain</title>

    <!-- Core CSS - Include with every page -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Forms -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/publicChain.css" rel="stylesheet">
    <style>
        .table tbody tr td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Trading System</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" id="pcSupervisionBtn" href="/pcSupervision">Public Chain Supervision</a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a id="publicChainBtn" href="/publicChain"><i class="fa fa-dashboard fa-fw"></i> Public Chain</a>
                    </li>
                    <li>
                        <a id="consortiumChainBtn" href="/consortiumChain"><i class="fa fa-table fa-fw"></i> Consortium Chain</a>
                    </li>
                   <!-- <li>
                        <a id="bpRecordBtn" href="/bpRecord"><i class="fa fa-edit fa-fw"></i> 我的流程记录</a>
                    </li>-->
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <!--<div class="col-lg-6">
                <table class="table table-bordered" style='table-layout:fixed;'>
                    <caption>最新的区块</caption>
                    <thead>
                    <tr>
                        <th>区块高度</th>
                        <th>挖出经过的时间</th>
                        <th>矿工</th>
                        <th>用户</th>
                    </tr>
                    </thead>
                    <tbody id="latestBlocks">
                    <tr>
                        <td>127654</td>
                        <td>20s</td>
                        <td>u1</td>
                        <td>??</td>
                    </tr>
                    <tr>
                        <td>127653</td>
                        <td>40s</td>
                        <td>u2</td>
                        <td>??</td>
                    </tr>
                    </tbody>
                </table>
            </div>-->

            <div class="col-lg-12">
                <table class="table table-bordered" style='table-layout:fixed;'>
                    <caption>Latest Business Process</caption>
                    <thead>
                    <tr>
                        <th>Trace_id</th>
                        <th>Activity_name</th>
                        <th>Hash</th>
                        <th>BpSender</th>
                        <th>BpReceiver</th>
                        <th>CooperationTime</th>
                    </tr>
                    </thead>
                    <tbody id="latestTx">
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6">
                <table class="table table-bordered" style='table-layout:fixed;'>
                    <caption>UserList</caption>
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Brief Introduction</th>
                        <!--  <th>企业核心业务</th>
                          <th>企业资产评估</th>-->
                    </tr>
                    </thead>
                    <tbody id="users">
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6">
                <!--<div>
                    <p id="userdetailName" style="margin: 20px;margin-top: 30px">企业/个人详情</p>
                    <p id="userdetailidentity" style="margin: 20px"></p>
                    <p id="userdetaildescription" style="margin: 20px"></p>
                    <p id="userdetailcoreBusiness" style="margin: 20px"></p>
                    <p id="userdetailassessment" style="margin: 20px"></p>
                </div>-->
                <button class="btn btn-primary col-sm-offset-1 col-sm-5" data-toggle="modal" data-target="#myModal">
                    Launch Business Process
                </button>
            </div>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Launch Business Process</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Please select the user you want to cooperate with</label>
                                <select class="form-control" id="selectReceiver">

                                </select>
                            </div>

                            <div class="form-group">
                                <label>Transaction Description</label>
                                <input class="form-control" id="bpDescription">
                            </div>

                            <div class="form-group">
                                <label>Tx List in JSON</label>
                                <textarea id="txsJson" class="form-control" rows="5"></textarea>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                            <button type="button" class="btn btn-primary" onclick="createBP()">submit</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Core Scripts - Include with every page -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/pc1.js"></script>

<!-- Page-Level Plugin Scripts - Forms -->

<!-- SB Admin Scripts - Include with every page -->
<script src="js/pc2.js"></script>

<!-- Page-Level Demo Scripts - Forms - Use for reference -->
<script>
    const paramsStr = window.location.search
    const params = new URLSearchParams(paramsStr)
    var identity = params.get('identity') // list
    var userId = params.get('userId')
    document.getElementById("publicChainBtn").setAttribute("href", "/publicChain?identity=" + identity + "&userId=" + userId);
    document.getElementById("consortiumChainBtn").setAttribute("href", "/consortiumChain?identity=" + identity + "&userId=" + userId);
    //document.getElementById("bpRecordBtn").setAttribute("href", "/bpRecord?identity=" + identity + "&userId=" + userId);
    document.getElementById("pcSupervisionBtn").setAttribute("href", "/pcSupervision?identity=" + identity + "&userId=" + userId);

    $("#bpDescription").blur(function(){
        document.getElementById("txsJson").innerHTML="[{senderId:"+userId+",receiverId:"+$("#selectReceiver option:selected").attr('id')+",tranDescription:'"+$("#bpDescription").val()+"'}]"
    });

    $.ajax({
        type: "GET",
        url: "/getLatestBusinessProcesses",
        data: {},
        success: function (respMsg) {
            var str = ""
            if (respMsg.code == 0) {
                var txs = respMsg.data
                for (i in txs) {
                    str += "<tr>"
                    str += "<td>"
                    str += txs[i].bpId
                    str += "</td><td>"
                    str += txs[i].tranDescription
                    str += "</td><td>"
                    str += txs[i].hash
                    str += "</td><td>"
                    str += txs[i].sender
                    str += "</td><td>"
                    str += txs[i].receiver
                    str += "</td><td>"
                    str += txs[i].time
                    str += "</td></tr>"
                }
                document.getElementById("latestTx").innerHTML = str
            } else {
                alert(respMsg.data)
            }
        }
    });

    $.ajax({
        type: "GET",
        url: "/getAllUsers",
        data: {},
        success: function (respMsg) {
            var str = ""
            if (respMsg.code == 0) {
                var users = respMsg.data
                for (i in users) {
                    str += "<tr>"
                    str += "<td onclick=clickaction(\"" + users[i].identity + "\")>"
                    str += users[i].username
                    str += "</td><td onclick=clickaction(\"" + users[i].identity + "\")>"
                    str += users[i].description
                    /*str += "</td><td onclick=clickaction(\"" + users[i].identity + "\")>"
                    str += users[i].coreBusiness
                    str += "</td><td onclick=clickaction(\"" + users[i].identity + "\")>"
                    str += users[i].assessment*/
                    str += "</td></tr>"
                }
                document.getElementById("users").innerHTML = str
            } else {
                alert(respMsg.data)
            }
        }
    });

    $.ajax({
        type: "GET",
        url: "/getAllUsers",
        data: {},
        success: function (respMsg) {
            var str = ""
            if (respMsg.code == 0) {
                var users = respMsg.data
                for (i in users) {
                    if (users[i].userid == userId)
                        continue
                    str += "<option id='" + users[i].userid + "'>"
                    str += users[i].username + " " + users[i].description
                    str += "</option>"
                }
                document.getElementById("selectReceiver").innerHTML = str
            } else {
                alert(respMsg.data)
            }
        }
    });


    function clickaction(iden) {
        console.log(iden)
        /*$.ajax({
            type: "GET",
            url: "/getUserByIdentity",
            data: {identity: iden},
            success: function (respMsg) {
                if (respMsg.code == 0) {
                    var user = respMsg.data
                    document.getElementById("userdetailName").innerHTML = "企业/个人详情：" + user.username
                    document.getElementById("userdetailidentity").innerHTML = "身份证明凭证：" + user.identity
                    document.getElementById("userdetaildescription").innerHTML = "企业简述：" + user.description
                    document.getElementById("userdetailcoreBusiness").innerHTML = "核心业务：" + user.coreBusiness
                    document.getElementById("userdetailassessment").innerHTML = "资产评估：" + user.assessment
                } else {
                    alert(respMsg.data)
                }
            }
        });*/
    }

    function createBP() {
        var receiverId = $("#selectReceiver option:selected").attr('id')
        var txsJson = $("#txsJson").val()
        var txDescription = $("#bpDescription").val()
        $.ajax({
            type: "POST",
            url: "/cooperate",
            data: {
                senderId: userId,
                receiverId: receiverId,
                bpDescription: txDescription,
                bpId: "",
                transactionList: txsJson
            },
            dataType: "json",
            success: function (respMsg) {
                if (respMsg.code == 0) {
                    alert(respMsg.data)
                    window.location.href = "/consortiumChain?" + "userId=" + userId + "&identity=" + identity
                } else {
                    alert(respMsg.data)
                }
            }
        });
    }

</script>

</body>

</html>
