<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="findUserByIdentity" resultType="LocalUser">
        select * from private_user where identity = #{identity};
    </select>

    <select id="findUserById" resultType="User">
        select * from user where userid = #{id};
    </select>

    <select id="findUserLike" resultType="User">
        select * from user where username like concat('%',#{s,jdbcType=VARCHAR},'%') or identity like concat('%',#{s,jdbcType=VARCHAR},'%') or description like concat('%',#{s,jdbcType=VARCHAR},'%') or coreBusiness like  concat('%',#{s,jdbcType=VARCHAR},'%') or assessment like concat('%',#{s,jdbcType=VARCHAR},'%');
    </select>

    <select id="findAllUsers" resultType="User">
        select * from user;
    </select>

    <select id="findUsersByBPId" resultType="User">
        select * from user u where u.userid in (select senderId from input_transaction inp where inp.bpId=#{businessProcessId}) or u.userid in (select receiverId from input_transaction inp where inp.bpId=#{businessProcessId});
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userid" parameterType="User">
         insert into private_user (
    username,
    password,
    identity,
    description,
    coreBusiness,
    assessment)
    values
    ( #{username},
    #{password},
    #{identity},
    #{description},
    #{coreBusiness},
    #{assessment})
    </insert>

</mapper>
